@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p>Benvenuto nel sito dedicato alla prenotazione dei prodotti della nostra azienda agricola.</p>
    <br />
    <br />
    <img src="https://www.fratellibramardo.eu/wp-content/uploads/2018/12/banner.png" alt="azienda agricola Bramardo">
    <br />
    <br />
    <p>Per maggiori informazioni sull' azienda agricola clicca sul reindirizzamento verso il <a href="https://www.fratellibramardo.eu/">sito aziendale</a>.</p>
</div>
