@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Privacy Policy

    La tua privacy è importante per noi. È politica dell'az.agr. Bramardo rispettare la tua privacy riguardo a qualsiasi informazione che possiamo raccogliere da te sul nostro sito web, e altre eventuali informazioni che potremmo ricevere da te offline o tramite altri canali.

    Informazioni raccolte
    Dati personali
    Quando visiti il nostro sito web, potremmo raccogliere determinate informazioni personali, come il tuo nome, indirizzo email, indirizzo IP, informazioni di contatto e altre informazioni che possono essere utilizzate per identificarti.
</p>
