@model WebAppAzienda.Models.Ordine

@{
    ViewData["Title"] = "Create";
}

<h1>Crea un ordine</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UtenteId" class="control-label">Id dell'utente:</label>
                <input asp-for="UtenteId" class="form-control" id="utenteId"/>
                <span asp-validation-for="UtenteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescrProdotti" class="control-label">Descrizione dell'ordine: </label>
                <input asp-for="DescrProdotti" class="form-control" />
                <span asp-validation-for="DescrProdotti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ordina" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
